<%= form_for(postulation) do |f| %>
  <% if postulation.errors.any? %>
    <div id="error_explanation">
      <em><%= pluralize(postulation.errors.count, "error") %> errores para poder guardar:</em>

      <ul>
      <% postulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>Usuario que estas eligiendo  <%= postulation.user.name %>


    <%= f.hidden_field :estimate_date %>
      <%= f.hidden_field :description%>


  <div class="actions">
    <%= f.submit "Elegir", class: 'btn waves-effect waves-light teal orange' %>
    <%= link_to "Volver", postulation.post, class: 'btn waves-effect waves-light teal orange' %></br></br>
  </div>
<% end %>
