<%= form_for(postulation) do |f| %>
  <% if postulation.errors.any? %>
    <div id="error_explanation">
      <em><%= pluralize(postulation.errors.count, "error") %> errores para poder guardar:</em>

      <ul>
      <% postulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label "Fecha en la que podes hacer la gauchada" %>
    <%= f.date_field :estimate_date, class: "estimate_date" %>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label "Descripcion" %>
      <%= f.text_area :description, length: 100, class:"materialize-textarea"%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", class: 'btn waves-effect waves-light teal orange' %>
    <%= link_to "Volver", posts_path, class: 'btn waves-effect waves-light teal orange' %></br></br>
  </div>
<% end %>
