<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @postulation.user_id %>
</p>

<p>
  <strong>Id gauchada:</strong>
  <%= @postulation.post_id %>
</p>

<p>
  <strong>Estimate date:</strong>
  <%= @postulation.estimate_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @postulation.description %>
</p>

<%= link_to 'Edit', edit_postulation_path(@postulation) %> |
<%= link_to 'Back', postulations_path %>
