<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
    <% if current_user.is_admin %>
      <%= link_to "Logros", achievements_path, class: 'btn waves-effect waves-light teal orange' %></br></br>
    <% else %>
      <p class="orange-text"> Puntos <%= current_user.point %> </p></br></br>
      <%= link_to "Editar Perfil", edit_user_registration_path(current_user), class: 'btn waves-effect waves-light teal orange' %></br></br>
      <%= link_to "Publicar Gauchada", new_post_path(current_user), class: 'btn waves-effect waves-light teal orange' %></br></br>
    <% end %>
      <div class="row container">
    <h5>postulaciones pendientes </h5>
    <% @posts = Post.all %>
    <% @posts.each do |post| %>
      <% if ((post.done == nil ) && (post.user_elect_id != nil) && ( (post.user_elect_id == current_user.id ) || (post.user_id == current_user.id ) )) %>
        <!-- Gauchada item -->
        <div class="col s4">
            <div class="card medium">
              <div  style=" padding:5px " >
                  <%= post.user.name %> | <%= post.created_at.to_date %> | <%= post.city.name %>
              <h5 class="orange-text"> <%= post.title %>  </h5>
              </div>
                <div class="card-image">
                    <%= image_tag post.photo_url, size:"128x140" %>
                </div>
                <div class="card-content">
                    <p><%= truncate( post.description, length: 100, separator: ' ') %></p>
                </div>
                <div class="card-action">
                    <%= link_to "Ver mas", post %>
                </div>
            </div>
            </br></br>
        </div>
      <% end %>
    <% end %>
            </div>
            <div class="row container">
          <h5>postulaciones terminadas </h5>
          <% @posts = Post.all %>
          <% @posts.each do |post| %>
            <% if ((post.done != nil ) && (post.user_elect_id != nil) && ( (post.user_elect_id == current_user.id ) || (post.user_id == current_user.id ) )) %>
              <!-- Gauchada item -->
              <div class="col s4">
                  <div class="card medium">
                    <div  style=" padding:5px " >
                        <%= post.user.name %> | <%= post.created_at.to_date %> | <%= post.city.name %>
                    <h5 class="orange-text"> <%= post.title %>  </h5>
                    </div>
                      <div class="card-image">
                          <%= image_tag post.photo_url, size:"128x140" %>
                      </div>
                      <div class="card-content">
                          <p><%= truncate( post.description, length: 100, separator: ' ') %></p>
                      </div>
                      <div class="card-action">
                          <%= link_to "Ver mas", post %>
                      </div>
                  </div>
                  </br></br>
              </div>
            <% end %>
          <% end %>
                  </div>
<% else %>
  <p id="notice">Solo Usuarios registrados</p>
<% end %>
