<%= form_for @post do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <em><%= pluralize(post.errors.count, "error") %> errores para poder guardar:</em>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= current_user.name %>
  </div>


  <div class="row">
  <div class="input-field col s12">
    <%= f.label "Titulo" %>
    <%= f.text_field :title %>
  </div>
</div>


  <div class="row">
    <div class="input-field col s12">
      <p>  <%= f.label "Ciudad" %>   </p></br>
    <%= select(:post, :city_id, City.all.collect {|p| [ p.name, p.id ] }, {}, { class: 'form-control' }) %>
  </div>
</div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label "Descripcion" %>
        <%= f.text_area :description, length: 100, class:"materialize-textarea"%>
      </div>
    </div>

    <div class="row">
    <div class="input-field col s12">
      <%= f.label "Foto" %>
      <%= f.text_field :photo_url %>
      <em> Por defecto si no se pone ninguna sera el Logo de la pagina </em>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", class: 'btn waves-effect waves-light teal orange' %>
    <%= link_to "Volver", posts_path, class: 'btn waves-effect waves-light teal orange' %></br></br>
  </div>
<% end %>
