<p id="notice"><%= notice %></p>

    <!-- Floating action buton for new post (if logged user) -->
    <% if user_signed_in? %>
        <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
           <%= link_to '<i class="material-icons">add</i>  Do it@'.html_safe,
                 new_post_path,
                 class: "btn-floating btn-large waves-effect waves-light orange" %>
        </div>
    <% end %>

    <div class="row container">

      <h4>Gauchadas</h4>

      <% @posts.each do |post| %>

          <!-- Gauchada item -->
          <div class="col s4">
              <div class="card medium">
                <div  style=" padding:5px " >
                    <%= post.user.name %>               <%= post.created_at.to_date %>
                <h5> <%= post.title %>  </h5>
                </div>
                  <div class="card-image">
                      <%= image_tag post.photo_url, size:"128x140" %>
                  </div>
                  <div class="card-content">
                      <p><%= truncate( post.description, length: 100, separator: ' ') %></p>
                  </div>
                  <div class="card-action">
                      <%= link_to "Ver mas", post %>
                  </div>
              </div>
              </br></br>
          </div>
      <% end %> <!-- ends loop for posts -->
    </div>
