<p id="notice"><%= notice %></p>

<h4>Posts</h4>

<br>

<div class="row container">
<% @posts.each do |post| %>
<div class="col s4">
          <div class="card">



            <div class="card-image">
                    <%= image_tag "tbnail.jpg"%>
            </div>
            <p class="card-title black-text" style="padding: 10px"><%= post.title %></p>

            <div class="card-content">
              <p><%= truncate( post.description, length: 100, separator: ' ') %></p>
            </div>
            <div class="card-action">
              <%= link_to "Ver mas", post, class: 'btn waves-effect waves-light teal orange' %>
            </div>
          </div>
        </div>

<% end %>

</div>
<%= link_to 'New Post', new_post_path %>
