
</br>
<nav class="top-nav orange lighten-1">
  <div class="nav-wrapper">
    Busqueda de Gauchadas
    <ul id="nav-mobile" aling="right" class="right hide-on-med-and-down">
      <%= form_tag search_post_path(@posts) do %>
      <li> <%= label_tag  "Titulo: " ,nil,class:"white-text" %>  </li>
      <li> <%= text_field_tag :title, params[:title], class: "form-control ", placeholder: "Ingrese Titulo" %>%>  </li>
      <li> <%= label_tag  "Fecha: " ,nil,class:"white-text" %>  </li>
      <li>  <%= date_field :created_at , params[:created_at], class: "datepicker " , placeholder: "Elija Fecha" %> </li>
      <li> <%= label_tag  "Ciudad: " ,nil,class:"white-text" %>  </li>
      <li> <p> <%= select_tag :city_id, options_from_collection_for_select(City.all, "id", "name", params[:city_id]), prompt: "Elija ciudad", class: "form-control blue-grey-text text-lighten-4 " %> </p> </li>
      <li> <%= submit_tag 'search' , class: 'material-icons orange' %>  </li>
      <% end %>
    </ul>
  </div>
</nav>

<p id="notice"><%= notice %></p>

    <!-- Floating action buton for new post (if logged user) -->
    <% if user_signed_in? %>
        <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
           <%= link_to '<i class="material-icons">add</i>  Do it@'.html_safe,
                 new_post_path,
                 class: "btn-floating btn-large waves-effect waves-light orange" %>
        </div>
    <% end %>

    <div class="row container">


      <h4>Gauchadas</h4>
      <% @posts.each do |post| %>
        <% if ((post.done != true) && (post.user_elect_id == nil)) %>
          <!-- Gauchada item -->
          <div class="col s4">
              <div class="card medium">
                <div  style=" padding:5px " >
                    <%= post.user.name %> | <%= post.created_at.to_date %> | <%= post.city.name %>
                <h5 class="orange-text"> <%= post.title %>  </h5>
                </div>
                  <div class="card-image">
                      <%= image_tag post.photo_url, size:"128x140" %>
                  </div>
                  <div class="card-content">
                      <p><%= truncate( post.description, length: 100, separator: ' ') %></p>
                  </div>
                  <div class="card-action">
                      <%= link_to "Ver mas", post %>
                  </div>
              </div>
              </br></br>
          </div>
        <% end %>
      <% end %> <!-- ends loop for posts -->
    </div>
