<p id="notice"><%= notice %></p>
<div  class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">

        <p><%= @post.user.name %> | <%= @post.created_at.to_date %> | <%= @post.city.name %></p>
        <!-- si esta logueado y es el dueño del post puede editarlo / borrarlo -->
        <% if user_signed_in? && current_user.id == @post.user_id %>
                <p align="right">    <%= link_to '<i class="material-icons">mode_edit</i>  Do it@'.html_safe,
                    edit_post_path,
                    class: "btn-floating btn-large waves-effect waves-light orange" %>
            <%= link_to '<i class="material-icons">delete</i>  Do it@'.html_safe,
                     @post, method: :delete,
                     class: "btn-floating btn-large waves-effect waves-light red" %>  </p>
        <% end %>

                 <!-- card title -->
        <div class="card-image">
            <%= image_tag @post.photo_url , size:"128x400"  %>
            <span class="card-title"><%= @post.title %></span>
        </div>
        <!-- card content -->
        <div class="card-content">
           <%= @post.description %>
        </div>
        <!-- card action -->
        <div class="card-action">
          <!-- si esta logueado-->
          <% if user_signed_in? %>
            <%  @postulation_choose = @post.postulations.find_by user_id: @post.user_elect_id %>

            <% if current_user.id != @post.user_id%>
            <!-- see only no dueños -->
            <!-- see only si no se postularon a este post -->
              <% @postulation_user =  @post.postulations.find_by user_id: current_user.id  %>
              <% if nil == @postulation_user %>
            <!-- form postularse-->
                <% @postulation = Postulation.new %>
                <%= form_for @postulation do |f| %>
                    <% if @postulation.errors.any? %>
                      <div id="error_explanation">
                        <em><%= pluralize(@postulation.errors.count, "error") %> errores para poder guardar:</em>
                          <ul>
                            <% postulation.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                          </ul>
                      </div>
                    <% end %>

                    <%= f.hidden_field :post_id, value: @post.id %>

                    <div class="input-field col s12">
                      <%= f.label "Fecha en la que podes hacer la gauchada", class:"active" %>
                      <%= f.date_field :estimate_date, class: "estimate_date" , required: true %>
                    </div>

                    <div class="row">
                      <div class="input-field col s12">
                         <%= f.label "Descripcion", class:"active" %>
                         <%= f.text_area :description, length: 100, class:"materialize-textarea",required: true %>
                      </div>
                    </div>

                    <div class="actions">
                       <%= f.submit 'Te puedo hacer la gauchada', class: 'btn waves-effect waves-light teal orange' %>
                    </div>
                <% end %>
              <% else %>
                  ya estas postulado
                  <% if @post.user_elect_id == current_user.id %>
                  el usuario te eligio para que le cumplas el favor
                  <p> <%= link_to 'Datos de la postulacion', @postulation_choose %></p>
                  <% end %>
              <% end %>
            <% else %>
              <!-- postulados a este post see only dueño del post-->
              <!-- si ya eligio a alguno-->
              <% if @post.user_elect_id != nil %>
                ya elegiste
                <p> <%= link_to 'Datos de la postulacion', @postulation_choose %></p>
                <p> El usuario elegido ya cumplio la gauchada ?</p>
                <% if @post.done == nil %>
                  <p> <%= link_to 'Si', done_post_path(@post), method: :post %>  </p>
                  <p> <%= link_to 'No',  not_done_post_path(@post), method: :post  %> </p>
                <% else %>
                  <% if @post.done == true %>
                     la gauchada ya fue hecha
                  <% else %>
                     la gauchada no fue hecha
                  <% end %>
                <% end %>

              <% else %>
                <div class="row">
                <h5>Postulados</h5>
                  <table>
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Putos</th>
                        <th>Dia estimado</th>
                        <th>Descricion</th>
                        <th colspan="1"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @postulations = @post.postulations %>
                      <% @postulations.each do |postulation| %>
                        <tr>
                          <td><%= postulation.user.name %></td>
                          <td><%= postulation.user.point %></td>
                          <td><%= postulation.estimate_date %></td>
                          <td><%= postulation.description %></td>
                          <td><%= link_to 'Elegir', edit_postulation_path(postulation) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>

            <% end %>
          <% else %>
            <%= link_to "Registrate para poder hacerle la gauchada!", new_user_registration_path%></br></br>

          <% end %>
            <div align="right">
              <%= link_to "Volver", posts_path, class: 'btn waves-effect waves-light teal orange' %></br></br>
            </div>

            <h5>Comentarios</h5>
            <% @comments = Comment.where(post_id: @post.id) %>
            <% @comments.each do |comment| %>
                    <div class="row">
                      <div class="col s12 m6">
                        <div class="card orange lighten-1">
                          <div class="card-content white-text">
                            <span class="card-title"><%= comment.user.name %></span>
                            <p><%= comment.comment %></p>
                          </div>
                          <div class="card-action">
                            <% if comment.answer %>
                              <%= comment.answer.answer %>
                            <% else %>
                              <% if user_signed_in? && current_user.id == @post.user_id %>
                                <% @answer = Answer.new %>
                                <%= form_for @answer do |f| %>
                                  <%= f.hidden_field :comment_id, value: comment.id %>
                                  <div class="field">
                                    <%= f.label "Responder", required: true, class: "white-text" %>
                                    <%= f.text_area :answer, length: 100, class:"materialize-textarea white-text"%>
                                  </div>
                                  <div class="actions">
                                    <%= f.submit "Responder", class: 'btn waves-effect waves-light teal orange' %>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
            <% end %>

            <% if user_signed_in? && current_user.id != @post.user_id %>
              <% @comment = Comment.new %>
              <%= form_for @comment do |f| %>
                <%= f.hidden_field :post_id, value: @post.id %>
                <div class="field">
                  <%= f.label "Comentar", required: true, class: "orange-text" %>
                  <%= f.text_area :comment, length: 100, class:"materialize-textarea orange-text", required: true %>
                </div>
                <div class="actions">
                  <%= f.submit " Comentar", class: 'btn waves-effect waves-light teal orange' %>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
