<div class="container">
<h4> Logros </h4>
<table class="bordered">
	<tr>
		<th>Nombre</th>
		<th>Puntos minimos</th>
		<th>Puntos maximos</th>
		<th>Editar</th>
		<th>Borrar</th>
	</tr>
	<% Achievement.all.each do |c| %>
	<tr>
		<td><%= c.name %></td>
		<td><%= c.point_min %></td>
		<td><%= c.point_max %></td>
		<td>	<%= link_to '<i class="material-icons">mode_edit</i>  Do it@'.html_safe,
					edit_achievement_path(c),
					class: "btn-floating btn-large waves-effect waves-light orange" %></td>
		<td>	<%= link_to '<i class="material-icons">delete</i>  Do it@'.html_safe,
					c, method: :delete,
					class: "btn-floating btn-large waves-effect waves-light orange" %></td>
	</tr>
	<% end %>
</table>

<div align="right" class="col s6">
</br>
	<%= link_to '<i class="material-icons">add</i>  Do it@'.html_safe,
		new_achievement_path,
		class: "btn-floating btn-large waves-effect waves-light orange" %>
</div>

</div>
