<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @achievement.name %>
</p>

<p>
  <strong>Point min:</strong>
  <%= @achievement.point_min %>
</p>

<p>
  <strong>Point max:</strong>
  <%= @achievement.point_max %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
