<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label "Cantindad de Puntos" %>
    <%= f.number_field :points, required: true, class:"active"  %>
  </div>
  <p> Datos de tarjeta</p>
  <div class="input-field col s12">
    <%= f.label "Numero de Tarjeta", class:"active" %>
    <%= f.number_field :card_number, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label "fecha vencimiento" %>
    <%= f.date_field :due_date, class:"estimate_date", required: true, class:"active"   %>
  </div>
  <p> Datos del titular </p>
    <div class="input-field col s12">
      <%= f.label "Nombre del Titular" %>
      <%= f.text_field :name_titular , required: true, class:"active" %>
    </div>
    <div class="input-field col s12">
      <%= f.label "Fecha de Nacimiento" %>
      <%= f.date_field :card_fecha, class:"birthdate" , required: true, class:"active" %>
    </div>
    <div class="input-field col s12">
      <%= f.label "Numero de dni" %>
      <%= f.number_field :dni, required: true, class:"active"  %>
    </div>
      <div  class="input-field col s12">
        <%= f.submit "Comprar", class: 'btn waves-effect waves-light teal orange' %>
        <%= link_to "Volver", posts_path, class: 'btn waves-effect waves-light teal orange' %>
      </div>
  </div>
<% end %>
