

<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="input-field col s12">
    <%= f.label "Cantindad de Puntos", class:"active" %>
    <%= f.number_field :points %>
  </div>
  <p> Datos de tarjeta</p>
  <div class="input-field col s12">
    <%= f.label "Numero de Tarjeta", class:"active" %>
    <%= f.number_field :card_number %>
  </div>

  <div class="input-field col s12">
    <%= f.label "fecha vencimiento", class:"active" %>
    <%= f.date_field :due_date %>
  </div>
  <p> Datos del titular </p>
    <div class="input-field col s12">
      <%= f.label "Nombre del Titular", class:"active" %>
      <%= f.text_field :name_titular %>
    </div>
    <div class="input-field col s12">
      <%= f.label "Fecha de Nacimiento", class:"active" %>
      <%= f.date_field :card_fecha %>
    </div>
    <div class="input-field col s12">
      <%= f.label "Numero de dni", class:"active" %>
      <%= f.number_field :dni %>
    </div>
      <div  class="input-field col s12">
        <%= f.submit "Comprar", class: 'btn waves-effect waves-light teal orange' %>
        <%= link_to "Volver", posts_path, class: 'btn waves-effect waves-light teal orange' %>
      </div>
  </div>
<% end %>
