<!DOCTYPE html>
<html>
  <head>
    <title>Gauchada</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" hidden="true">×</button>
        <%= value %>
      </div>
    <% end %>

    <div >
      <%= image_tag "portada.png"%>
    </div>

    <nav class="light-blue orange" role="navigation">
      <div class="nav-wrapper">
        <a href="<%= posts_path %>" class="brand-logo center"><%= image_tag "logo.png", size: "60x60"  %></a>
        <div align="right">
          <a href="" class="waves-effect waves-light btn-large leal orange darken-1">Comprar Puntos</a>
          <% if current_user %>
            Bienvenido <%= current_user.email %> <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Entrar / Registrarse", new_user_session_path, class: 'waves-effect waves-light btn-large leal orange darken-1' %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
